[mysqld]

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# http://www.percona.com/blog/2008/05/31/dns-achilles-heel-mysql-installation/
skip_name_resolve

# Require clients to connect either using SSL
# or through a local socket file
require_secure_transport = ON

# Do not allow users to read local files
local-infile=0

!includedir /etc/my.cnf.d
